* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #1d232c;
}

.navbar-links a:hover {
    font-size: 20px;
    color: #ff4500
}

.navbar-menu-toggle {
    display: none;
}

/* Side Nav bar */
.side-navbar {
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
    transition: 1.2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: #FF007F;

}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1d232c;
    color: white;
}

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    border-radius: 5px;
    background-color: #f2f4f7;
    padding: 10px;

}

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button {
    margin-top: 10px;
    color: #fff;
    background-color: #FF007F;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: white;
}

.product-section {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    text-align: center;
    flex-basis: 20%;
}

.products-box img {
    border-radius: 10px;
}

.contact {
    padding: 40px 20px;
    background: linear-gradient(to right, #78808c, rgb(235, 193, 227));
}

.contact h3 {
    color: #1d232c;
    text-align: center;
    margin-bottom: 20px;

}

#contactForm {
    max-width: 600px;
    margin: auto;
}

#form-group {
    margin-bottom: 20px;
}

#form-group label {
    display: block;
    margin-bottom: 5px;
    color: #1d232c;

}

#form-group input,
textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.btn:hover {
    background-color: #1d232c;
    color: white;
}

/* Media Query */
@media screen and (max-width : 700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }

}